body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-color: #222d32;
}

html {
  position: relative;
  min-height: 100%;
}

/* Navbar custom */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #00a65a;
    border-color:  #ffc60c;
    border-bottom-width: 2px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #00a65a;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(80, 156, 186, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(125, 125, 125, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1f4a6f;
}
/* End Navbar custom */

/* Button custom */
.btn-actions {
  color: #ffffff;
  background-color: #BD0006;
  border-color: #363636;
}

.btn-actions:hover,
.btn-actions:focus,
.btn-actions:active,
.btn-actions.active,
.open .dropdown-toggle.btn-actions {
  color: #ffffff;
  background-color: #780105;
  border-color: #363636;
}

.btn-actions:active,
.btn-actions.active,
.open .dropdown-toggle.btn-actions {
  background-image: none;
}

.btn-actions.disabled,
.btn-actions[disabled],
fieldset[disabled] .btn-actions,
.btn-actions.disabled:hover,
.btn-actions[disabled]:hover,
fieldset[disabled] .btn-actions:hover,
.btn-actions.disabled:focus,
.btn-actions[disabled]:focus,
fieldset[disabled] .btn-actions:focus,
.btn-actions.disabled:active,
.btn-actions[disabled]:active,
fieldset[disabled] .btn-actions:active,
.btn-actions.disabled.active,
.btn-actions[disabled].active,
fieldset[disabled] .btn-actions.active {
  background-color: #BD0006;
  border-color: #363636;
}

.btn-actions .badge {
  color: #BD0006;
  background-color: #ffffff;
}
/* End Button custom */

.content {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 450px;
    margin: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 10px solid #ffc60c;
}

.box {
    padding: 20px;
    -webkit-box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
    box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
    min-height: 720px;
}

.login-box {
     padding: 20px;
     -webkit-box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
     -moz-box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
     box-shadow: 0px 4px 14px 1px rgba(0,0,0,0.55);
     min-height: 420px;
     min-width: 420px;
     max-height: 420px;
     max-width: 420px;
}

.line_el {
    border: 1px solid black;
}

.col-title {
    min-width: 200px;
}

.col-actions {
    min-width: 300px;
}

.col-numbers {
    min-width: 50px;
}

.block {
    margin-top: 20px;
}

.row-manga-list {
}
.row-manga-list td {
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
