@()

@site("Sobre") {

    <div class="row content box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <strong>&nbsp&nbspSoftware de Análise do Eleitorado Brasileiro</strong>
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Software que utiliza informações publicadas no Portal de Dados Brasileiro.</h1>
                    <h3>Mais informações em breve.</h3>
                </div>
            </div>

        </div>
    </div>
}