@(groups: Int, schoolings: Int, cities: Int, brazilianStates: Int, firstYear: String, lastYear: String,
imports: Seq[models.entity.DataImport], tasks: Seq[(models.entity.Task, String)])

@main("Admin") {

<div class="row">
    <div class="col-sm-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Grupos de Idade</span>
                <span class="info-box-number">@groups</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-sm-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-yellow"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Graus de Escolaridade</span>
                <span class="info-box-number">@schoolings</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-sm-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-blue"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Cidades e Estados</span>
                <span class="info-box-number">@cities cidades de @brazilianStates estados.</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>

    <div class="col-sm-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-purple"><i class="fa fa-star-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Anos analisados</span>
                <span class="info-box-number">@firstYear - @lastYear</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>

</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel-group">
            <div class="panel panel-heading">
                <strong>Informações gerais</strong>
            </div>
            <div class="panel panel-body">
                <table id="uploads-table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Descrição</th>
                        <th>Estado</th>
                        <th>Mensagem</th>
                    </tr>
                    </thead>
                    <tbody>
                    @tasks.map { case(task, email) =>
                    <tr>
                        <td>@email</td>
                        <td>@task.description</td>
                        <td>
                            @if(task.completed) {
                            <span class="label label-success">Completa</span>
                            } else { @if(task.failure) {
                            <span class="label label-danger">Falha</span>
                            } else {
                            <span class="label label-primary">Em execução</span>
                            }
                            }

                        </td>
                        <td>
                            @task.message
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel-group">
            <div class="panel panel-heading">
                <strong>Anos importados disponíveis no software.</strong>
            </div>
            <div class="panel panel-body">
                <ul class="list-group">
                    @imports.map { i =>
                    <li class="list-group-item">
                        @i.fileYear &nbsp
                        <span class="badge">@i.fileMonth</span>
                    </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>


}