@()(implicit messages: Messages, flash: Flash, email: Option[String])

@import b3.vertical.fieldConstructor
@main("Admin") {

<div class="row">

    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Novo Arquivo</h3>
            </div>
            <div class="box-body">
                <div id="file-upload">
                    <p>Selecione o arquivo baixado pelo portal www.dados.gov.br que deseja importar no sistema.</p>
                            <!-- OK -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Adicionar arquivos</span>
                                <input id="fileupload" type="file" name="document"
                                       data-url="@routes.DocumentUploadController.doUpload">
                            </span>
                            <br>
                            <br>
                            <!-- The global progress bar -->
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped"></div>
                            </div>
                            <!-- The container for the uploaded files -->
                            <div id="files" class="files"></div>
                            <br>
                </div>
            </div>
        </div>
    </div>

</div>


}