@(selectedYear: String,
  analysesForm: Form[models.form.AnalysesForm],
  years: Seq[(String, String)],
  rankings: Seq[models.query.SchoolingRankingLevel])(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@site("Ranking de Escolaridade") {
<div class="row">
    <div class="content-box panel-group ">
        <div class="panel panel-site-green">
            <div class="panel panel-heading">
                <h3 class="panel-title">
                    <strong><span><i class="fa fa-arrow-right"></i></span>&nbsp;Ranking de Escolaridade</strong>
                </h3>
            </div>
            <div class="panel panel-body">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        @b3.form(routes.RankingController.schoolingViewRequest) {
                            @b3.select(analysesForm("yearMonth"), options = years, '_label -> "Seleciona um ano para exibição do ranking de escolaridade" )
                            @b3.submit('class -> "btn btn-default"){ Exibir }
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3 class="page-title">Ranking de escolaridade no Brasil - @selectedYear</h3>
                        <p class="help-block">Cada nível de escolaridade está classificado
                            entre uma faixa específica de eleitores, para exibição mais justas.</p>
                        <div id="schooling-list" class="list-group">
                            @rankings.map { byLevel =>
                                <a class="list-group-item" href="#@byLevel.level.hashCode">@byLevel.level</a>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                    @rankings.map { byLevel =>
                        <hr />
                        <div id="@byLevel.level.hashCode">
                            <h3>@byLevel.level</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs nav-justified">
                                    @byLevel.rankingsByLimit.map { byLimit =>
                                        <li>
                                            <a  data-toggle="tab" href="#@byLevel.level.hashCode()-@byLimit.base-@byLimit.limit">
                                                @byLimit.message
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <div class="ranking-content" class="tab-content">
                                    @byLevel.rankingsByLimit.map { byLimit =>
                                        <div id="@byLevel.level.hashCode()-@byLimit.base-@byLimit.limit"
                                             class="tab-pane fade">
                                            <div class="col-lg-8 col-lg-offset-2">
                                                <br />
                                                <p class="help-block">Municípios com maior porcentagem de eleitores com @byLevel.level</p>
                                                <br />
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Código</th>
                                                        <th>UF</th>
                                                        <th>Cidade</th>
                                                        <th>% de eleitores</th>
                                                        <th>Nº de eleitores</th>
                                                        <th>Eleitores totais</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @byLimit.details.map { detail =>
                                                        <tr>
                                                            <td>@detail.cityCode</td>
                                                            <td>@detail.state</td>
                                                            <td>
                                                                <a target="_blank"
                                                                    href="@routes.SearchController.cityPageWithCode(detail.cityCode)">
                                                                    @detail.name
                                                                </a>
                                                            </td>
                                                            <td><span class="round-pct4">@detail.percentFormatted()</span> %</td>
                                                            <td class="round-int">@detail.peoples</td>
                                                            <td class="round-int">@detail.total</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                                <a href="#schooling-list" class="btn btn-default">Voltar ao topo</a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


}