@(state: models.entity.State, cities: Seq[models.entity.SimpleCity])(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@site("Estados") {
<div class="row">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="content-box panel-group">
                <div class="panel panel-site-green">
                    <div class="panel-heading">
                        <div class="jumbotron" style="background-color:transparent !important;">
                            <h1><i class="fa fa-university">&nbsp;</i>&nbsp;@state.name - @state.federativeUnit</h1>
                            <p>Municípios disponíveis para visualização em @state.federativeUnit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header">
                            <h3><i class="fa fa-archive">&nbsp;</i>Informações Gerais</h3>
                        </div>
                        <dl>
                            <dd><strong>Estado: </strong> @state.name</dd>
                            <dd><strong>UF: </strong> @state.federativeUnit</dd>
                            <dd><strong>Região: </strong> @state.region</dd>
                            <dd><strong>Número de municípios analisados: </strong> @cities.size</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group ">
                <div class="panel panel-default">
                    <div class="panel panel-body">
                        <div class="panel-body panel-content">
                            <h3 class="page-title">
                                <strong>Municípios no estado de @state.name: </strong>
                            </h3>
                            <hr />
                            <table id="cities-table" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">Cidade</th>
                                    <th class="text-center">Código</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @cities.map { c =>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="@routes.SearchController.cityPageWithCode(c.id)">
                                                    @c.name
                                                </a>
                                            </td>
                                            <td class="text-center">@c.id</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


}